<div class="alert alert-secondary" role="alert" style="width:100%;border-radius:5px;">
    <!-- <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <button class="btn btn-link btn-sm">
          <mat-icon size="0.5">reorder</mat-icon>
        </button>
      </li>
      <li class="breadcrumb-item">Faizan Ishaq</li>
      <li class="breadcrumb-item">Software Developer</li>
      <li class="breadcrumb-item"><a href="http://www.google.com" target="_blank">Resume</a></li>
      <li class="breadcrumb-item">
        <a href="mailto:fishaq@masonlive.gmu.edu" target="_top">
          Email Me
        </a> 
      </li>
    </ol> -->
    <span>
      <button class="btn btn-link btn-sm">
        <mat-icon size="0.5">reorder</mat-icon>
      </button>
      Faizan Ishaq | Software Developer | 
      <a href="http://www.google.com" target="_blank">
        Resume
      </a> | 
      <a href="mailto:fishaq@masonlive.gmu.edu" target="_top">
        Email Me
      </a> 

    </span>
</div>