<div class="text">
  <p style="margin-left:3%">
    <u>Faizan Ishaq</u><br><br>
    Role: Front End Intern at ETS Corporation<br><br>
    Senior at George Mason University<br><br>
    Graduating : December 2019
  </p>
</div>
<div class="photoContainer">
  <div class="photo">
    <img src="../../assets/pro_pic.jpg" class="photo">
  </div>
</div><br><hr style="margin-left:20px;margin-right:20px;">

<div class="button-row">

  <span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/faizanishaq94/" target="_blank">
      <img src="../../assets/linkedin.PNG" style="height:35px;width:35px;">
    </a>&nbsp;&nbsp;
    <a href="https://github.com/Faizanishaq94/" target="_blank">
      <img src="../../assets/github.PNG" style="height:35px;width:35px;">
    </a>&nbsp;&nbsp;
    <a href="mailto:fishaq@masonlive.gmu.edu" target="_top">
      <img src="../../assets/email.PNG" style="height:35px;width:35px;">
    </a> 
  </span><br><br><hr style="margin-left:20px;margin-right:20px;"><br>
  <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    I am truly passionate about software development. What excites me most
    is getting involved in new and exciting projects that challenge me to be 
    creative in different ways. My passion lies in perfecting my approach, ensuring 
    the end product is made with efficiency in mind. My current focus is expanding my
    knowledge of data structures and their manipulation. I enjoy programming because I 
    feel as though it poses an exciting challenge similar to how puzzle games do, and I 
    have always been a fan of that genre of gaming. I feel as though this area of study
    always has something new to offer, and therefore always keep me on the edge of my 
    seat.
  </p>
  <!-- <button class="button">
    <img src="../../assets/linkedin.PNG">
  </button>
  <button class="button">
      <img src="../../assets/github.PNG">
  </button> -->

</div>