<div style="text-align:center">
  <nav style="display:inline-block" class="nav nav-pills nav-fill">
    <button type="button" class="btn btn-outline-info" 
    style="width:250px;margin-right:2px;" (click)="collapse[0]=!collapse[0]" 
    [ngClass]="{clicked : collapse[0] == true}" data-toggle="tooltip" 
    data-placement="top" title="Summer 2018">
      ETS Corporation
    </button>
    <button type="button" class="btn btn-outline-info" 
    style="width:250px" (click)="collapse[1]=!collapse[1]" 
    [ngClass]="{clicked : collapse[1] == true}" data-toggle="tooltip" 
    data-placement="top" title="Miscellaneous">
      Non-Major Related
    </button>
  </nav>
</div><br><hr><br><br>

<div *ngIf="collapse[0]">
    <h3><span class="badge badge-secondary">ETS Corporation</span></h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      This company is focused in Ashburn Virginia
    </li>
    <li class="list-group-item">
      I interned at ETS during Summer 2018 (June - Aug) as a Front End Developer Intern
    </li>
    <li class="list-group-item">
      This company is focused around credit card processing for merchants. Along with this,
      the company has developed additional web applications such as : Retail POS System, Online Marketplace, 
      Electronic Gift Cards, Bulk Messaging/Email Service, Inventory Management, and others with the focus of
      providing these services to merchants to pass on to their customers.
    </li>
    <li class="list-group-item">
      My role at the company pertains around front end development. I focused my energies
      on helping the company development a new web application for their website called the eLoyaly Rewards Program.
    </li>
    <li class="list-group-item">
      This rewards program involves allowing merchants to create their own unique rewards
      program for their customers based off of their own specific requirements. The merchant themselves determine 
      exactly when and what a customer will be rewarded once they have reached a certain threshold of spending/points.
    </li>
    <li class="list-group-item">
      Along with a team of 3 others, I helped to put together the front end of their proposed loyalty program web application.
      We did this through the use of current front end technologies such as angular 6, TypeScript, HTML, and CSS. 
    </li>
  </ul>
</div><br>

<hr *ngIf="collapse[0] && collapse[1]"><br>



<div *ngIf="collapse[1]">
  <h3><span class="badge badge-secondary">Non-Major Related</span></h3>
  <ul class="list-group list-group-flush">

    <app-non-major-exp position="Mobile Sales Associate" timeFrame="Aug 2014 - Jul 2016" 
    company="Verizon Wireless"></app-non-major-exp>
    <app-non-major-exp position="Technology Associate" timeFrame="Jun 2013 - Jul 2014" 
    company="Staples"></app-non-major-exp>
    <app-non-major-exp position="Ticket Seller" timeFrame="May 2012 - Jun 2013" 
    company="Potomac Riverboat Company"></app-non-major-exp>
    <app-non-major-exp position="Cashier" timeFrame="Sept 2011 - May 2012" 
    company="Giant Food Company"></app-non-major-exp>
    <app-non-major-exp position="Door to Door Canvasser" timeFrame="Jun 2009 - May 2011" 
    company="Home RX Inc"></app-non-major-exp>

  </ul>
</div><br><br>

<div style="margin-left:40%;margin-right:40%">
  {{label}}
</div><br><br>

<!-- <div>
  <mat-slider style="width:65%;margin-left:15%"
    thumbLabel 
    [displayWith]="formatLabel"
    tickInterval="auto"
    label = "tickInterval"
    min="2012"
    max="2018">
  </mat-slider>
</div>   -->