
<!-- <div class="alert alert-success" role="alert" *ngIf="success">
    Email Submitted Successfully. Thank You for Your Interest. I Will Get Back to You as Soon as Possible!
</div> -->
<div class="alert alert-success" role="alert" *ngIf="success">
    <h5 class="alert-heading">Email Submitted Successfully!</h5><hr>
    <p class="mb-0">
      Thank you for your interest. I will get back to you as soon as possible!
      If you desire more immediate contact, please reference my
      <a href="#">Resume</a> 
      for other methods of communication.
    </p>
  </div>

<div *ngIf="!success">
  <div *ngIf="invalid" class="alert alert-danger" role="alert">
    <span>
      ERROR!
      <span *ngIf="errorMessages.length == 2">
        Sender Information and Email Contents Cannot be Blank!
      </span>
      <span *ngIf="errorMessages.length == 1">
        {{errorMessages[0]}} Cannot be Blank!
      </span>
      <span *ngIf="errorMessages.length != 1 && errorMessages.length != 2">Email Format is Invalid</span>
    </span>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">From</span>
    </div>
    <input type="text" class="form-control" placeholder="Your Email Address" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="from">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Subject</span>
    </div>
    <input type="text" class="form-control" placeholder="Add a Subject" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="subject">
  </div>

  <div class="input-group" >
    <div class="input-group-prepend">
      <span class="input-group-text">Content</span>
    </div>
    <textarea class="form-control" aria-label="Enter the desired contents here" [(ngModel)]="content"></textarea>
  </div><br>

  <div class="alert alert-secondary" role="alert">
    <button type="button" class="btn btn-secondary btn-sm" (click)="zeroAll()">Cancel</button>
    <button type="button" class="btn btn-success btn-sm" style="float:right" (click)="checkSubmissionValidity()">Submit</button>
    </div>
</div>


