<!-- <div class="all">
    <app-home></app-home>
</div> -->

<div class="all" >

    <mat-sidenav-container>
    
        <mat-sidenav #sidenav mode="side" opened style="margin-top:2px;position:fixed">
            <nav style="text-align: center">
                <span class="badge badge-info" 
                style="width:143px;height:38px;margin-bottom:2px;padding-top:10px">
                <font size="3.5">OPTIONS</font>
                </span>
            </nav>
            <nav *ngFor="let option of options; index as i">
                <app-side-nav-button [name]="option" [routerLink]="relations[i]"></app-side-nav-button>
            </nav>
        </mat-sidenav>
    
        <mat-sidenav-content style="background-color:white">
            <app-header>
            </app-header><br>
            <div class="jumbotron" style="border-style:solid;border-width:thin;
            border-color: rgb(66, 99, 99);display:inline-block;width:100%; margin-top:-1%;">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </mat-sidenav-content>
        
    </mat-sidenav-container>
    
</div>
      
      
      